# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
instance/
.settings/

# Migrations but keep __init__.py
**/migrations/*
!**/migrations/__init__.py

# Environments
.env
.env.*
env/
venv/
ENV/
.venv/

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json

# Exported data
*.csv
*.xls
*.xlsx

# Swagger/OpenAPI
swagger.json
swagger.yaml
